*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

header{
    background-color:#1a237e ;
    max-width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

body{
    
    background-color: #ede7f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
    
   
}

h2{
    color: white;

}

.header-container{
    display: flex;
}

.headerlogo{
    display: flex;
    align-items: center;
}

.navlink{
    display: flex;

    
    

}

a{
    color: white;
    text-decoration: none;
}

.Loginheader{
    text-align: center;
}



#form{
    
    
    background-color: white;
    padding: 50px;
    width: 800px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,1.2), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    

}

.form-container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-20%);
    box-sizing: border-box;
    padding: 50px;
    

}



a.password,h3{
    color: #1a237e;
    text-decoration: none ;
    text-align: center;
    

}

#email,#login{
    width: 42em;
    height: 5em;
    color: #202124;
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
    line-height: 1.5;
    outline: none;
    font-size: 16px;
    box-sizing: content-box;
    
}

#button{
    background-color: #1a237e;
    color: white;
    width: 50%;
    height: 85px;
    font-size: 30px;
    font-weight: 600;
    align-content: center;
    border: none;
    border-radius: 5px;
    margin-left: 15vh;
    margin-top: 2vh;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,1.2), 0 1px 5px 0 rgba(0,0,0,0.2);
}